body {
    font-family: "Roboto Condensed";
    font-weight: 400;
    color: #636363;
    line-height: 1.6;
}

a {
    color: #e31936;
    text-decoration: none;

    &.active {
        color: #333;
        font-weight: 700;
    }
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 100;
    letter-spacing: -1px;
}

table {
	font-size: 14px;
	font-family: "Roboto Condensed";
}